/build
/lakefile.olean
/lake-packages/*
/venv/
*.olean
*.ilean
*.hash
*.trace
*.paux
/.lake
/blueprint/web/
/blueprint/print/
Plakat Regio/.$livelean-org.drawio.bkp
Plakat Regio/Cayley_Graph.synctex.gz
Plakat Regio/test.synctex.gz
*.lock
