---
---

@import "{{ site.theme }}";

.page-header {

  background-color: #4158D0;
background-image: linear-gradient(120deg, #1c2348 0%, #421b40cf 46%, #3e3117 100%);

}

body {
  background-color: #191919;
  color: #e6e6e6;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #8a4fbd;
}
